# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Reports
reports/
htmlcov/
.coverage
coverage.xml

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/